---
title: Fosfoetanolamina não mostra efeito em testes
description: >
    A polêmica sobre a "pílula do câncer" da USP de São Carlos
created: !!timestamp '2016-08-30 10:00:00'
tags:
    - terapia alternativa
    - fosfoetanolamina
---

{% mark image -%}

![Airport]([[!!img/fosfo1.png]])</br>

{%- endmark %}

{% mark excerpt -%}
</br>
Estudo realizado em camundongos portadores de melanoma, um câncer agressivo,
realizado na Universidade Federal do Ceará, e divulgado neste mês, mostra que a fosfoetanolamina
não tem efeito antitumoral importante.

{%- endmark %}

A equipe do Laboratório de Oncologia Experimental, liderada pelo Prof. Manoel Odorico
de Moraes Filho, testou a fosfoetanolamina num modelo consagrado de câncer em animais.
Resumidamente, uma linhagem de células malignas murinas, o melanoma B16F10, foi inoculada
em camundongos criados em laboratório. Os animais foram divididos em grupos iguais e
tratados com doses diferentes de fosfoetanolamina, veículo (grupo controle), ou o
quimioterápico ciclofosfamida (controle positivo). Os animais tratados apenas com veículo
apresentaram crescimento rápido de tumores num prazo de 2 semanas. Aqueles tratados com
o quimioterápico apresentaram pouco ou nenhum crescimento tumoral. Todos os animais tratados
com fosfoetanolamina, porém, desenvolveram tumores. Apenas os animais tratados com a
maior dose da substância (1 g/kg, o equivalente a um adulto tomar 140 cápsulas de 500mg de uma só vez!)
mostraram uma discreta redução do crescimento tumoral. Mesmo assim, pesquisadores acreditam
que o efeito pode não ter sido por efeito direto da fosfoetanolamina nos tumores.

{% mark image -%}

![Airport]([[!!img/fosfo2.png]])</br>
*Gráfico que mostra a ausência de inibição tumoral da fosfoetanolamina, exceto na maior dose
(imagem protegida por direitos autoriais, proibida a reprodução não autorizada).*
</br>
{%- endmark %}


A pouco tempo, igualmente, relatórios de experimentos realizados no Ceará e em São Paulo
mostraram que a fosfoetanolamina não tem efeito contra células tumorais em cultura.
Um outro experimento, realizado em Santa Catarina, testou a substância em animais inoculados
com células tumorais humanas (modelo de xenoenxerto). Neste modelo, a fosfoetanolamina
mostrou uma discreta inibição do crescimento tumoral, também na dose máxima, mas
inferior ao controle positivo (o quimioterápico cisplatina).

Além disso, um relatório prévio de avaliação bioquímica das cápsulas de fosfoetanolamina
produzidas pela equipe do Dr. Chiarice no Instituto de Química de São Carlos mostrou
que a substância estava presente em baixo grau de pureza, cerca de 30% do peso total
dos constituintes das cápsulas. Todos estes dados, conjuntamente, reforçam a conclusão de que
o suposto efeito anticâncer da fosfoetanolamina foi uma ilusão oriunda da divulgação
seletiva de casos de "sucesso" do tratamento. Em vista da falha da fosfoetanolamina em
mostrar atividade em estudos pré-clínicos (realizados _in vitro_ e em animais), o recomendado
seria nem chegar a iniciar estudos em seres humanos e abandonar sua utilização para
o tratamento do câncer. A pressão popular e da mídia talvez leve erroneamente ao
início de testes em seres humanos, aparentemente fadados ao fracasso.

Os relatórios completos estão disponíveis [aqui](http://www.mcti.gov.br/relatorios-fosfoetanolamina).
