---
title: Cirurgias mais extensas beneficiam pacientes
description: >
    Uma "nova" abordagem cirúrgica, revertendo a tendência recente de ressecções menos extensas.
created: !!timestamp '2016-08-30 10:00:00'
tags:
    - tumor cerebral
    - cirurgia
---

{% mark image -%}

![Neuro]([[!!img/neuro.png]])</br>
*[Equipe de neurocirurgia](https://pt.wikipedia.org/wiki/Ficheiro:Equipe_de_Neurocirurgia_no_hospital_da_Beneficência_Portuguesa_de_Porto_Alegre.jpg)
em ação no hospital da Beneficência Portuguesa de Porto Alegre, Brasil. <span class="cc">cba  </span>`BY-SA` [Atribuição-CompartilhaIgual 3.0](https://creativecommons.org/licenses/by-sa/3.0/deed.pt)*

{%- endmark %}
</br>

{% mark excerpt -%}

Pesquisadores da Penn State Milton S. Hershey Medical Center, nos EUA, publicaram em junho
deste ano um trabalho no JAMA Oncology, concluindo que a ressecção cirúrgica extensa
é benéfica para pacientes portadores de glioblastoma, um dos tipos mais agressivos
de câncer em seres humanos.

{%- endmark %}

O glioblastoma é um tumor cerebral maligno mais frequente em adultos, porém também
encontrado em crianças e adolescentes. Apesar de intensa pesquisa sobre seu tratamento
nas últimas décadas, a maioria dos pacientes ainda sucumbe poucos anos após seu diagnóstico.
O tratamento inclui cirurgia, radioterapia e quimioterapia. Nos últimos anos, ocorreu
uma discussão sobre se a extensão da cirurgia realmente era importante em seu tratamento.

Os resultados do trabalho realizado por um grupo de especialistas de diversas instituições,
incluindo Penn State Milton S. Hershey Medical Center, Rochester Medical Center, MD Anderson Cancer Center
e outros, sugerem que, quanto mais extensa for a cirurgia para a retirada do tumor, melhores
as chances de cura dos pacientes.

A pesquisa revisou 37 estudos publicados, incluindo mais de 40 mil pacientes. Ela mostrou que, em
comparação com a retirada parcial ou subtotal do tumor, a ressecção completa aumenta a
chance de sobrevida em 1 ano em quase 40% e em 2 anos em cerca de 15%. Além disso, a
chance do tumor recidivar reduz também em cerca de 30% no primeiro ano. Estes dados
não são considerados surpreendentes pela comunidade científica, mas ajudam a reduzir
a discordância sobre a importância da cirurgia no tratamento do glioblastoma. Apesar
do risco de sequelas, no caso da cirurgia para glioblastoma, aparentemente mais é melhor.

Texto completo da pesquisa [aqui](http://oncology.jamanetwork.com/article.aspx?articleid=2528564).
