---
title: Professional Page
subtitle: Columns template
description: Virtual business card
---
{% extends "fullwidth.j2" %}
{% block headline %}
# Francisco H. C. Félix
{% endblock %}
{% block leadtext %}
Pediatric cancerologist, board certified by Brazilian Society of Cancerology ([SBC](http://sbcancer.org.br)).
Master's in Pharmacology by [Federal University of Ceará](http://www.ufc.br).
<!-- Associate Member of [_Society for Neuro-oncology_](http://www.soc-neuro-onc.org). -->
Caring for children and adolescents with [Brain tumors](https://en.wikipedia.org/wiki/Brain_tumor) and [Vascular anomalies](https://en.wikipedia.org/wiki/Vascular_anomaly) at [Hospital Infantil Albert Sabin](http://www.hias.ce.gov.br/#site) since 2007.

<a href="https://www.linkedin.com/in/francisco-h-c-felix-84ba8226?trk=hp-identity-name" class="btn btn-social-icon btn-linkedin btn-lg">
    <span class="fa fa-linkedin"></span>
  </a>
<a href="https://twitter.com/neuronc_lab" class="btn btn-social-icon btn-twitter btn-lg">
    <span class="fa fa-twitter"></span>
  </a>
<a href="https://github.com/fhcflx" class="btn btn-social-icon btn-github btn-lg">
    <span class="fa fa-github"></span>
  </a>
<a href="http://gitlab.com/fhcflx" class="btn btn-social-icon btn-github btn-lg">
    <span class="fa fa-gitlab"></span>
  </a>
<a href="http://fhcflx.github.io/ciencia-medica" class="btn btn-social-icon btn-openid btn-lg">
    <span class="fa fa-plus"></span>
  </a>
<a href="https://t.me/neuroncologia" class="btn btn-social-icon btn-linkedin btn-lg" data-toggle="tooltip" title="Telegram: @neuroncologia" data-original-title="Default tooltip">
  <span class="fa fa-whatsapp"></span>
</a>
{% endblock %}
