---
title: Página profissional
subtitle: Columns template
description: Cartão profissional virtual
---

{% extends "fullwidth.j2" %}

{% block headline %}
# Francisco H. C. Félix
{% endblock %}

{% block leadtext %}
Médico cancerologista pediátrico, título pela Sociedade Brasileira de Cancerologia ([SBC](http://sbcancer.org.br)).
Mestre em Farmacologia pela [Universidade Federal do Ceará](http://www.ufc.br).
<!-- Membro associado da [_Society for Neuro-oncology_](http://www.soc-neuro-onc.org). -->
Responsável pela atenção a crianças e adolescentes com [Tumores cerebrais](https://pt.wikipedia.org/wiki/Tumor_cerebral) e [Anomalias vasculares](https://pt.wikipedia.org/wiki/Anomalia_vascular) no [Hospital Infantil Albert Sabin](http://www.hias.ce.gov.br/#site) desde 2007.

<a href="https://www.linkedin.com/in/francisco-h-c-felix-84ba8226?trk=hp-identity-name" class="btn btn-social-icon btn-linkedin btn-lg">
    <span class="fa fa-linkedin"></span>
  </a>
<a href="https://twitter.com/neuronc_lab" class="btn btn-social-icon btn-twitter btn-lg">
    <span class="fa fa-twitter"></span>
  </a>
<a href="https://github.com/fhcflx" class="btn btn-social-icon btn-github btn-lg">
    <span class="fa fa-github"></span>
  </a>
<a href="http://gitlab.com/fhcflx" class="btn btn-social-icon btn-github btn-lg">
    <span class="fa fa-gitlab"></span>
  </a>
<a href="http://fhcflx.github.io/ciencia-medica" class="btn btn-social-icon btn-openid btn-lg">
    <span class="fa fa-plus"></span>
  </a>
<a href="https://t.me/neuroncologia" class="btn btn-social-icon btn-linkedin btn-lg" data-toggle="tooltip" title="Contatos via Telegram: @neuroncologia" data-original-title="Default tooltip">
  <span class="fa fa-whatsapp"></span>
</a>
{% endblock %}
