---
title: Projetos
subtitle: Jumbotron template
description: Test description
---

{% extends "jumbotron.j2" %}

{% block headline %}
# Construindo conhecimento sobre oncologia

Diversos projetos foram e são empreendidos por nosso grupo de pesquisa e tratamento
de pacientes com tumores cerebrais.

{% endblock headline %}
{% block button %}
  <a href="http://fhcflx.github.io/gpmcp/" title="grupo" target="_blank"
  class="btn btn-primary btn-lg">Saiba mais &raquo;</a>
{% endblock button %}

{% block column1 %}
## Banco de dados de crianças e adolescentes com tumores cerebrais

{{ dummy_text }}
{% endblock column1 %}
{% block button1 %}
  <a href="http://fhcflx.github.io/cpc-neuro/" title="cpc-neuro" target="_blank"
  class="btn btn-default">Mais detalhes &raquo;</a>
{% endblock button1 %}

{% block column2 %}
## Estudo do tratamento de hemangiomas com propranolol

Publicamos um estudo sobre o tratamento de crianças portadoras de hemangiomas complicados
da infância mostrando sua eficácia
{% endblock column2 %}
{% block button2 %}
  <a href="http://www.scielo.br/scielo.php?script=sci_arttext&pid=S1516-31802014000100048"
  title="hemangioma" target="_blank" class="btn btn-default">Mais detalhes &raquo;</a>
{% endblock button2 %}

{% block column3 %}
## Tumores de tronco cerebral

Um grupo de tumores cerebrais mais frequentes em crianças e adolescentes, são os
maiores responsáveis pelos óbitos relacionados a tumores cerebrais malignos até os
18 anos. No entanto, deve-se diferenciar seus tipos principais. Nosso grupo estuda
ativamente este grupo de patologias.

{% endblock column3 %}
{% block button3 %}
  <a href="http://www.ncbi.nlm.nih.gov/pubmed/?term=felix+fh+brain+tumors"
  title="pubmed" target="_blank" class="btn btn-default">Mais detalhes &raquo;</a>
{% endblock button3 %}
