---
title: Portfolio
subtitle: Columns template
description: Test description
---

{% extends "columns.j2" %}

{% block headline %}
# Produção intelectual

{% endblock headline %}

{% block column1 %}
## Publicações alternativas

Além dos consagrados jornais científicos assinados, hoje em dia cresce muito o nicho
dos jornais acadêmicos de acesso aberto (_open access_), modelo no qual os autores
custeiam a publicação. Porém, muitas outras formas alternativas de comunicação científica
tem surgido, alavancadas pela revolução de uma internet livre e barata.
{% endblock column1 %}
{% block button1 %}
<a href="http://fhcflx.github.io/alt-pub/"
  title="vpa" target="_blank" class="btn btn-primary btn-lg">Saiba mais &raquo;</a>
{% endblock button1 %}

{% block column2 %}
## Ácido valpróico

O ácido valpróico é um fármaco anticonvulsivante usado desde a década de 60
para tratar crianças e adolescentes com convulsões das mais variadas causas,
incluindo tumores cerebrais. Ele pode também ter um efeito inibidor do crescimento
tumoral em grupos selecionados de patologias.
{% endblock column2 %}
{% block button2 %}
<a href="https://scholar.google.com.br/citations?view_op=view_citation&hl=pt-BR&user=ZmzTpYgAAAAJ&citation_for_view=ZmzTpYgAAAAJ:IjCSPb-OGe4C"
  title="vpa" target="_blank" class="btn btn-primary btn-lg">Saiba mais &raquo;</a>
{% endblock button2 %}

{% block column3 %}
## Propranolol para hemangiomas

Neste trabalho, nosso grupo analisou retrospectivamente o desfecho de crianças e adolescentes
portadores de hemangiomas complicados, tratados com propranolol.
{% endblock column3 %}
{% block button3 %}
<a href="https://scholar.google.com.br/citations?view_op=view_citation&hl=pt-BR&user=ZmzTpYgAAAAJ&citation_for_view=ZmzTpYgAAAAJ:3fE2CSJIrl8C"
  title="prop" target="_blank" class="btn btn-primary btn-lg">Saiba mais &raquo;</a>
{% endblock button3 %}

{% block column4 %}
## Fatores de prognóstico

No Hospital Infantil Albert Sabin, os principais fatores afetando a sobrevida de
crianças e adolescentes com tumores cerebrais foram o tipo de tumor (histologia),
ressecção cirúrgica completa e tratamento com radioterapia.
{% endblock column4 %}
{% block button4 %}
<a href="https://scholar.google.com.br/citations?view_op=view_citation&hl=pt-BR&user=ZmzTpYgAAAAJ&citation_for_view=ZmzTpYgAAAAJ:Se3iqnhoufwC"
  title="prog" target="_blank" class="btn btn-primary btn-lg">Saiba mais &raquo;</a>
{% endblock button4 %}

{% block column5 %}
## Tumores difusos de tronco cerebral

O tratamento de tumores difusos da ponte ainda é um desafio, e a maioria dos pacientes
tem uma sobrevida muito curta. Recentemente, novas alterações moleculares foram descritas
neste tipo de tumor, em especial a mutação H3F3A K27M, a qual pode se correlacionar com
efeito de drogas inibidoras de HDAC, como o valproato.
{% endblock column5 %}
{% block button5 %}
<a href="https://scholar.google.com.br/citations?view_op=view_citation&hl=pt-BR&user=ZmzTpYgAAAAJ&citation_for_view=ZmzTpYgAAAAJ:MXK_kJrjxJIC"
  title="dipg" target="_blank" class="btn btn-primary btn-lg">Saiba mais &raquo;</a>
{% endblock button5 %}
