<!DOCTYPE html>
<html lang="en">
{% block analytics %}
{% include "analytics.j2" %}
{% endblock analytics %}
  <head>
    {% block starthead %}{% endblock starthead %}
    <meta charset="{{ resource.meta.charset }}">
    <title>{% block title %}{{ resource.meta.title }}{% endblock %} | {{ site_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ resource.meta.description }}">
    <meta name="author" content="{{ resource.meta.author }}">

    {# Le HTML5 shim, for IE6-8 support of HTML elements #}
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style type="text/css">
             @media screen {
             @font-face {
             font-family: 'CC-ICONS';
             font-style: normal;
             font-weight: normal;
             src: url('http://mirrors.creativecommons.org/presskit/cc-icons.ttf') format('truetype');
             }

             span.cc {
             font-family: 'CC-ICONS';
             color: #ABB3AC;
             }
             }
    </style>

    {% block basecss %}
    <link href="{{ media_url('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ media_url('css/bootstrap-social.css') }}" rel="stylesheet">
    <link href="{{ media_url('css/offcanvas.css') }}" rel="stylesheet">

    <script src="https://use.fontawesome.com/658d83d80f.js"></script>

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of
            floated navbar
            text */
            .navbar-text.pull-right
            {
                float:
                none;
                padding-left:
                5px;
                padding-right:
                5px;
            }
        }
    </style>

    {% endblock basecss %}
    {% block css %}{% endblock %}



    {% block favicons %}
    {# Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references #}
<link rel="apple-touch-icon" sizes="180x180" href="{{ media_url('icon/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ media_url('icon/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ media_url('icon/favicon-16x16.png') }}">
<link rel="manifest" href="{{ media_url('icon/site.webmanifest') }}">
<link rel="mask-icon" href="{{ media_url('icon/safari-pinned-tab.svg') }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ media_url('icon/favicon.ico') }}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{{ media_url('icon/browserconfig.xml') }}">
<meta name="theme-color" content="#ffffff">
    {% endblock favicons %}

    {% block headjs %}
    {% endblock headjs %}

    {% block endhead %}{% endblock endhead %}
    <meta name="google-site-verification" content="47mvhf8oPdpdkeN0d9SEee_PQAi5stMTL5tuBZaJRrI" />

  </head>

  <body class="{{ resource.meta.id if resource.meta.id else resource.slug }}">

    {% block body %}
    {% block jumbotron %}{% endblock jumbotron %}
    <div class="container" id="top">
      {% block container %}

      {% endblock container %}
      <hr>
      <footer>
        {% block footer %}
        <p>Created by <a href="{{ author.url }}">{{ author.name }}</a></p>
        {% endblock footer %}
      </footer>
    </div> <!-- /container -->

    {% endblock body %}

    {% block js %}
    {# Javascript at the bottom for fast page loading #}
    {% block jquery %}
    {# Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ media_url('js/libs/jquery-1.10.1.min.js') }}">\x3C/script>')</script>
    {% endblock jquery %}

    {% block bootstrap_scripts %}
    <script src="{{ media_url('js/libs/bootstrap.min.js') }}"></script>
    {# Uncomment any of these lines to enable that plugin on your site #}
{#    <script src="{{ media_url('js/libs/affix.js') }}"></script>#}
{#    <script src="{{ media_url('js/libs/alert.js') }}"></script>#}
{#    <script src="{{ media_url('js/libs/button.js') }}"></script>#}
{#    <script src="{{ media_url('js/libs/carousel.js') }}"></script>#}
{#    <script src="{{ media_url('js/libs/collapse.js') }}"></script>#}
{#    <script src="{{ media_url('js/libs/dropdown.js') }}"></script>#}
{#    <script src="{{ media_url('js/libs/modal.js') }}"></script>#}
{#    <script src="{{ media_url('js/libs/popover.js') }}"></script>#}
{#    <script src="{{ media_url('js/libs/scrollspy.js') }}"></script>#}
{#    <script src="{{ media_url('js/libs/tab.js') }}"></script>#}
{#    <script src="{{ media_url('js/libs/tooltip.js') }}"></script>#}
{#    <script src="{{ media_url('js/libs/transition.js') }}"></script>#}
    <script src="{{ media_url('js/libs/offcanvas.js') }}"></script>
    {% endblock bootstrap_scripts %}

    {% block scripts %}
    {% endblock scripts %}


    <!--[if lt IE 7 ]>
      <script src="{{ media_url('js/libs/dd_belatedpng.js') }}"></script>
      <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
    <![endif]-->



    {% endblock js %}
  </body>
</html>
