{# Columns template #}

{% extends "topbar.j2" %}



{% block container %}

<script>
$(document).ready(function() {
  $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
  });
});
</script>


 <div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-9">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>

    <div class="jumbotron">
        <div class="container">
            {% filter markdown -%}
                {% block headline %}{% endblock %}
            {%- endfilter %}
        </div><!-- /container -->
    </div><!-- /jumbotron -->

    <div class="row">
        <div class="col-lg-4">
            {% filter markdown -%}
                {% block column1 %}{% endblock %}
            {%- endfilter %}
            <p>
            {% block button1 %}{% endblock %}
            </a></p>
        </div>

        <div class="col-lg-4">
            {% filter markdown -%}
                {% block column2 %}{% endblock %}
            {%- endfilter %}
            <p>
            {% block button2 %}{% endblock %}
            </a></p>
        </div>

        <div class="col-lg-4">
            {% filter markdown -%}
                {% block column3 %}{% endblock %}
            {%- endfilter %}
            <p>
            {% block button3 %}{% endblock %}
            </a></p>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-lg-6">
            {% filter markdown -%}
                {% block column4 %}{% endblock %}
            {%- endfilter %}
            <p>
            {% block button4 %}{% endblock %}
            </a></p>
        </div>

        <div class="col-lg-6">
            {% filter markdown -%}
                {% block column5 %}{% endblock %}
            {%- endfilter %}
            <p>
            {% block button5 %}{% endblock %}
            </a></p>
        </div>

    </div><!-- /.row -->
  </div>

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
      <div class="well sidebar-nav">
        {% from "macros.j2" import render_sidebar with context %}
        {{ render_sidebar() }}
      </div>
    </div>
</div>

{% endblock container %}
