{# Jumbotron template #}

{% extends "topbar.j2" %}


{% block jumbotron %}
<div class="jumbotron" style="margin-top: -50px;">
    <div class="container">
        {% filter markdown -%}
            {% block headline %}{% endblock %}
        {%- endfilter %}
        <p>
        {% block button %}{% endblock %}
        </a></p>
    </div><!-- /container -->
</div><!-- /jumbotron -->
{% endblock jumbotron %}
{% block container %}

<div class="row">
    <div class="col-lg-4">
        {% filter markdown -%}
            {% block column1 %}{% endblock %}
        {%- endfilter %}
        <p>
        {% block button1 %}{% endblock %}
        </a></p>
    </div>

    <div class="col-lg-4">
        {% filter markdown -%}
            {% block column2 %}{% endblock %}
        {%- endfilter %}
        <p>
        {% block button2 %}{% endblock %}
        </a></p>
    </div>

    <div class="col-lg-4">
        {% filter markdown -%}
            {% block column3 %}{% endblock %}
        {%- endfilter %}
        <p>
        {% block button3 %}{% endblock %}
        </a></p>
    </div>
</div><!-- /.row -->

{% endblock container %}
